@charset "UTF-8";

:root {
	--cor1: #003554;
	--cor2: #778899;
	--cor3: #C0FDFB;
}


header {
	background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
	color: white;
	text-align: center;
	padding-top: 30px;
	min-height: 150px;
	min-width: 300px;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.466);
}

header p {
	font-size: 1.5em;
	font-variant: small-caps;
}

nav {
	background-color: var(--cor1);
	padding: 10px;
	min-width: 300px;
}

nav > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding: 10px;
}

nav > a:hover {
	color: var(--cor1);
	background-color: var(--cor3);
	text-decoration: underline;
	transition-duration: 0.8s;
}

main {
	background-color: white;
	margin: auto;
	min-height: 400px;
	min-width: 300px;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

main h2 {
	font-weight: bold;
}

main form {
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

table {
	width: 500px;
    height: 100px;
    border-collapse: collapse; /*Padrão é separate*/
    border: 4px solid black;
    position: relative;
    margin: auto;
}

td, th { /*th tem negrito (bold) e center por padrão*/
    border: 1px solid black;
    padding: 10px; /*espaça melhor as células*/
            
}

thead {
	background-color: lightslategray;
}

thead > tr > th { /*CABEÇALHO FIXO PARA TABELAS GRANDES: */
    position: sticky;
    top: -2px;
    /*Colou na parte -2 (pra cobrir um espacinho do início da tabela)
    MAAAS... precisa da bg color pra não ir só palavra do cabeçalho: */
    background-color: lightslategray;
}

tbody > tr:nth-child(even) { /*Efeito Zebrado nos dados*/
    background-color: lightgray;
} /*funcionou ao transferir o t:each do tbody para o tr direto.*/

tbody > tr:nth-child(odd) {
    background-color: white;
}

tbody tr td a span {
	color: black;
}

tbody tr td a span:hover { /*Até então pensava que o :hover só funcionaria com os <a>*/
	color: var(--cor3);
	background-color: var(--cor1);
	text-decoration: underline;
	transition-duration: 0.8s;
}

footer {
	background-color: var(--cor1);
	min-width: 300px;
	padding: 5px;
	text-align: center;
}

footer > p, a {
	text-decoration: none;
	color: var(--cor3);
	font-weight: bold;
}

footer > p > a:hover {
	color: var(--cor1);
	background-color: var(--cor3);
	text-decoration: underline;
	transition-duration: 0.8s;
}

