<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto SpringCRUD</title>
    <link rel="stylesheet" th:href="@{/estilos/style.css}">
</head>	<!-- Para SB, é preciso usar ANNOTATIONS NO HTML!! Exemplo geral:
	 th:href/scr(imagens)@{/pasta/arquivo.tipo) -->

<body>
	<header>
		<h1>CRUD - Create Read Update Delete</h1>
		<p>Cadastro de Pessoas<p/>
	</header>
	
	<nav>
		<a href="http://localhost:8080/">Home</a>
		<a href="http://localhost:8080/cadastro">Cadastrar</a>
		<a href="#">Listar</a>
	</nav>
	
	<main>
	
		<h2>Informe os Dados:</h2>
	
		<form method="post">
			<label for="nome">Nome:</label>
			<input type="text" value="" name="nome">
			
			<label for="telefone">Telefone:</label>
			<input type="text" value="" name="telefone"> <br> <br>
			
			<label for="nascimento">Nascimento:</label>
			<input type="date" value="" name="nascimento"> <br> <br>
				
		</form>
		<!-- Pensar como encaixar Data de Cadastro e de Alteração ainda. -->
	</main>
	
	<footer>
        <p>
            Site criado 
            por <a href="https://github.com/LucasGBurch" target="_blank">Lucas Burch</a> para
            estudos de Spring Boot com HTML5/CSS3.
        </p>
    </footer>
</body>

</html>