<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto SpringCRUD</title>
    <link rel="stylesheet" th:href="@{/estilos/style.css}">
</head>	<!-- Para SB, é preciso usar ANNOTATIONS NO HTML!! Exemplo geral:
	 th:href/scr(imagens)@{/pasta/arquivo.tipo) -->

<body>
	<header>
		<h1>CRUD - Create Read Update Delete</h1>
		<p>Cadastro de Pessoas<p/>
	</header>
	
	<nav>
		<a href="http://localhost:8080/">Home</a>
		<a href="http://localhost:8080/cadastro">Cadastrar</a>
		<a href="http://localhost:8080/lista">Listar</a>
	</nav>
	
	<main>
		<h2>Lista de Cadastro:</h2>
		

		<table>
			<thead>
				<tr>
				<!-- <th scope="col">Id</th> Vou esperar para testar Id (ver se é text etc...) -->
					<th scope="col">Nome</th>
					<th scope="col">Telefone</th>
					<th scope="col">Nascimento</th>
				</tr>
			</thead>
			
			<tbody th:each="pessoa : ${pessoas}">
				<tr>						
					<!-- <th th:text="${pessoa.id}"></th>  -->
					<td th:text="${pessoa.nome}"></td>
					<td th:text="${pessoa.telefone}"></td>
					<td th:text="${pessoa.nascimento}"></td>
				</tr>
			</tbody>
		</table>

		
	</main>
	
	<footer>
        <p>
            Site criado 
            por <a href="https://github.com/LucasGBurch" target="_blank">Lucas Burch</a> para
            estudos de Spring Boot com HTML5/CSS3.
        </p>
    </footer>
</body>

</html>