<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CRUD - Cadastro Pessoa</title>
	<link rel="stylessheet" href="../estilo/estilos.css">
</head>
<body>
	<header>
		<h1>Sistema CRUD</h1>
		<p>Cadastro de Pessoas<p/>
	</header>
</body>
	
	<main>
		<form method="post">
			Nome: <input type="text" value="" name="nome" />
			Telefone: <input type="text" value="" name="telefone" />
			Nascimento: <input type="date" value="" name="nascimento" />
		
			<button type="submit">Cadastrar</button>
			
		</form>
	</main>

	<footer>
        <p>
            Site criado por <a href="https://github.com/LucasGBurch" target="_blank">Lucas Burch</a>
            para prática de Spring Boot com JPA.
        </p>
    </footer>
</html>