<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CRUD - Página Inicial</title>
	<link rel="stylessheet" href="./estilo/estilos.css">
</head>
<body>
	<header>
		<h1>Sistema CRUD</h1>
		<p>Página Inicial<p>
	</header>
</body>
	
	<main>
		<h1>Create - Read - Update - Delete</h1>
		<h2>Opções inicias:</h2>
		
		<nav>
			<a href="http://localhost:8080/api/pessoas/cadastro"></a>
		</nav>
		
	</main>

	<footer>
        <p>
            Site criado por <a href="https://github.com/LucasGBurch" target="_blank">Lucas Burch</a>
            para prática de Spring Boot com JPA.
        </p>
    </footer>
</html>