<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto SpringCRUD</title>
    <link rel="stylesheet" th:href="@{/estilos/style.css}">
</head>	<!-- Para SB, é preciso usar ANNOTATIONS NO HTML!! Exemplo geral:
	 th:href/scr(imagens)@{/pasta/arquivo.tipo) -->

<body>
	<header>
		<h1>CRUD - Create Read Update Delete</h1>
		<p>Página Inicial<p/>
	</header>
</body>

</html>