@charset "UTF-8";



header {
	background-color: #6767e0;
	color: black;
	text-align: center;
}


footer {
    background-color: #0000a001040;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 5px;
    margin: auto;
    min-width: 300px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: #0080c06024044;
    text-decoration: underline;
}